<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="P:/Selenium Training/Software/IdeaProjects/AutomationLearningPOM/src/test/java/applications/SalesConsoleTest.java">
        <classes>
            <class name="applications.SalesConsoleTest">
            <methods>
                <include name="launchAccountsObject"/>
                <include name="launchOpportunitiesObject"/>
                <include name="launchContactsObject"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>